<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:fragment="header-css">

    </div>
</head>
<body>
<div th:fragment="header">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <image class="bi me-2" width="40" height="32" src="images/logo.png"></image>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Главная</a></li>

                    <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                        <li class="nav-item dropdown">
                            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Моя библиотека
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="/AllBooks">Добавить книгу</a></li>
                                <li><a class="dropdown-item" href="/Groups">Группы</a></li>
                                <li><a class="dropdown-item" href="/Places">Полки</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/getRequestsForUser">Профиль</a></li>
                                <li><a sec:authorize="hasRole('ROLE_ADMIN')" href="/users" class="dropdown-item">Управление пользователями</a></li>
                                <li><a sec:authorize="hasRole('ROLE_MANAGER')" href="/getAllRequests" class="dropdown-item">Запросы</a></li>
                            </ul>
                        </li>
                    </ul>
                    <li><a sec:authorize="isAnonymous()" class="nav-link px-2 text-white" href="/AllBooks">Поиск книги</a></li>
                    <li><a sec:authorize="isAuthenticated()" href="/friends" class="nav-link px-2 text-white">Пользователи</a></li>
                </ul>



                <div class="text-end">

                    <div>
                        <p sec:authorize="isAuthenticated()">
                            вошли как <span sec:authentication="name" id="userUsername"></span>
                        </p>

                        <button sec:authorize="hasRole('ROLE_ANONYMOUS')" class="btn btn-outline-light" id="loginButton">
                            войти
                        </button>

                        <button sec:authorize="hasRole('ROLE_ANONYMOUS')" class="btn btn-outline-light" id="registerButton">
                            Зарегестрироваться
                        </button>

                        <form action="/logout">
                            <button sec:authorize="isAuthenticated()" class="btn btn-outline-light">
                                выйти
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</body>
</html>